---
import GameLayout from "../../layouts/GameLayout.astro";
import FaceCatch from "../../components/games/FaceCatchGame.astro";
---

<GameLayout title="Face Catch Game">
  <div class="face-catch-page game-page">
    <main>
      <FaceCatch />
    </main>
  </div>
</GameLayout>

<style>
  .face-catch-page {
    background: #0d0d1e;
    padding-bottom: 1.5rem;
  }
</style>
