---
import GameLayout from "../../layouts/GameLayout.astro";
import LetterFlipGame from "../../components/LetterFlipGame.astro";
---

<GameLayout title="Letter Flip Game">
  <div class="letter-game-page">
    <main>
        <LetterFlipGame />
    </main>
  </div>
</GameLayout>

<style>
  .letter-game-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    padding-bottom: 2rem;
  }
</style>
