---
import GameLayout from "../../layouts/GameLayout.astro";
import SayItGameComponent from "../../components/SayItGame.astro";
---

<GameLayout title="Letter or Not?">
  <div class="say-it-page game-page">
    <main>
      <SayItGameComponent />
    </main>
  </div>
</GameLayout>

<style>
  .say-it-page {
    background: #0d0d1e;
    padding-bottom: 1.5rem;
  }
</style>
