---
import GameLayout from "../layouts/GameLayout.astro";
import SayItGameComponent from "../components/SayItGame.astro";
---

<GameLayout title="Letter or Not?">
  <div class="say-it-page">
    <main>
      <SayItGameComponent />
    </main>
  </div>
</GameLayout>

<style>
  .say-it-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #0d0d1e;
    padding-bottom: 1.5rem;
  }
</style>
